body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050b1e;
    color: #e0eaff;
    text-align: center;
}

.mode input[type="radio"] {
    accent-color: #1e90ff;
}

.mode {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mode label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: #0b153a;
    border-radius: 12px;
    box-shadow: 0 0 20px #1e90ff;
}

h1 {
    color: #4da6ff;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background: #02071a;
    border: 1px solid #1e90ff;
    color: white;
    border-radius: 6px;
}

button {
    background: #1e90ff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #63b3ff;
}

.mode {
    margin: 10px 0;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    min-height: 60px;
    padding: 10px;
    background: #02071a;
    border-left: 4px solid #1e90ff;
    border-radius: 6px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #1e90ff;
    }

    to {
        box-shadow: 0 0 15px #7f00ff;
    }
}

.history {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    max-height: 120px;
    overflow-y: auto;
}

.history div {
    background: #02071a;
    margin: 5px 0;
    padding: 6px;
    border-radius: 5px;
}

footer {
    margin-top: 25px;
    font-size: 14px;
    color: #7fbfff;
}
